
:root {
  --text: hsla(247, 57%, 91%, 1);
  --text_light: hsla(247, 57%, 91%, 0.9);
  --text_dark: hsla(247, 57%, 91%, 0.5);
  --background: rgb(20, 21, 20);
  --background_dark: rgb(16, 16, 15);
  --primary: #f72585;
  --secondary: hsla(247, 8%, 25%, 0.5);
  --accent: rgb(100, 35, 251);
  --outline: hsla(247, 5%, 36%, 1);
  --alert: hsla(360, 60%, 55%, 1);
  --on: #60f79d;
  --off: #f08080;
}



:root {
  --text: hsla(247, 57%, 91%, 1);
  --text_light: hsla(247, 57%, 91%, 0.9);
  --text_dark: hsla(247, 57%, 91%, 0.5);
  --background: rgb(20, 21, 20);
  --background_dark: rgb(16, 16, 15);
  --primary: #f72585;
  --secondary: hsla(247, 8%, 25%, 0.5);
  --accent: rgb(100, 35, 251);
  --outline: hsla(247, 5%, 36%, 1);
  --alert: hsla(360, 60%, 55%, 1);
  --on: #60f79d;
  --off: #f08080;
}



body{
  background-color:#F7F7F7;
}




:root {
  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow:#1d9bf0;

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 3%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: var(--light-gray-70);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  --ff-poppins: "Poppins", sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* img, ion-icon, a, button, time, span { display: block; } */

.social-item .icon-box  svg {
  fill: var(--light-gray-70);

  display: inline-block;
  width: 0.75em;
  height:0.75em;
  contain: strict; fill: var(--orange-yellow-crayola);
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);
}



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
color:black;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--jet);
  margin: 16px 0;
}

.icon-box {
  position: relative;
  background: var(--border-gradient-onyx);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--orange-yellow-crayola);
  box-shadow: var(--shadow-1);
  z-index: 1;
}





.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon {
  --ionicon-stroke-width: 35px;
}

svg.bi.bi-play-circle,svg.bi.bi-pause-circle {
  width: 1.5lh;
  height: 1.5lh;
}


p.contact-link {
  color: white;
  font-size: larger;
}


.row audio {
  display: none;
}

article {
  display: none;
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
  height: auto;
  padding-bottom: 17vh;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h2,
.h3,
.h4,
.h5 {
  /* color: var(--white-2); */
  text-transform: capitalize;
}

.h2 {
  font-size: var(--fs-1);
}

.h3 {
  font-size: var(--fs-2);
}

.h4 {
  font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-yellow);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--onyx);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--orange-yellow-crayola);
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 20px;
}

.content-card {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 15px;
  padding-top: 45px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  cursor: pointer;
  z-index: 1;
}

.content-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/
audio#audioPlayer1 {
  display: none;
}
/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  max-height: 405px;
  overflow: hidden;
  transition: var(--transition-2);
  display: none;
}

.sidebar.active {
  max-height: 112px;
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.avatar-box {
  /* background: var(--bg-gradient-onyx); */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-image: url(/ID/ID/img/399262887_1472912256875878_7583769342947303671_n.jpg);
  background-size: cover;
  background-position: center center;
  border: 4px solid #53b5a8;
}

.info-content .name {
  color: var(--white-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.info-content .title {
  color: var(--light-gray);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 30px;
}

.info_more-btn {
  position: absolute;
  top: -17px;
  right: -17px;
  border-radius: 0 15px;
  font-size: 13px;
  /* color: var(--orange-yellow-crayola); */
  color: white;
  /* background: var(--border-gradient-onyx); */
  padding: 10px;
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  border: 1px solid var(--jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn span {
  display: none;
}

/* .sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
} */



.contact-item {
  min-width: 100%;
 
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: var(--fs-8);
  text-transform: uppercase;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white-2);
  font-size: var(--fs-7);
  font-size: var(--fs-8);
}

.contact-info address {
  font-style: normal;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  /* padding-left: 7px; */
}

.social-item .social-link {
  color: var(--light-gray-70);
  font-size: 18px;
}

.social-item .social-link:hover {
  color: var(--light-gray);
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

/* .navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 30px;
  box-shadow: var(--shadow-2);
  z-index: 5;
  margin-bottom: 2vh;
} */

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbar-link {
  color: transparent;
  font-size: var(--fs-8);
  transition: color var(--transition-1);
  text-transform: capitalize;
  position: absolute;
}
nav.navbar {
  margin-bottom: 16px;
}



.about .article-title {
  margin-bottom: 15px;
}

.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about-text p {
  margin-bottom: 15px;
}

/**
 * #service 
 */

.service {
  margin: 35px 0;
}

.service-title {
  margin-bottom: 20px;
}

.service-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.service-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
}

/* .service-item::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
} */

.service-icon-box img {
  margin: auto;
}

.service-content-box {
  text-align: center;
}

.service-item-title {
  margin-bottom: 7px;
}

.service-item-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-3);
  line-height: 1.6;
}

/**
 * #testimonials 
 */

.testimonials {
  margin-bottom: 30px;
}

.testimonials-title {
  margin-bottom: 20px;
}

.testimonials-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px 15px;
  padding-bottom: 35px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.testimonials-item {
  min-width: 100%;
  scroll-snap-align: center;
}

.testimonials-avatar-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(15px, -25px);
  background: var(--bg-gradient-onyx);
  border-radius: 14px;
  box-shadow: var(--shadow-1);
}

.testimonials-item-title {
  margin-bottom: 7px;
}

.testimonials-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/**
 * #testimonials-modal
 */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 20;
  pointer-events: none;
  visibility: hidden;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-container.active {
  pointer-events: all;
  visibility: visible;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 5%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: all;
}

.testimonials-modal {
  background: var(--eerie-black-2);
  position: relative;
  padding: 15px;
  margin: 15px 12px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  transform: scale(1.2);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 2;
}

.modal-container.active .testimonials-modal {
  transform: scale(1);
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--onyx);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-2);
  font-size: 18px;
  opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  opacity: 1;
}

.modal-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.modal-avatar-box {
  background: var(--bg-gradient-onyx);
  width: max-content;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: var(--shadow-2);
}

.modal-img-wrapper > img {
  display: none;
}

.modal-title {
  margin-bottom: 4px;
}

.modal-content time {
  font-size: var(--fs-6);
  color: var(--light-gray-70);
  font-weight: var(--fw-300);
  margin-bottom: 10px;
}

.modal-content p {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/**
 * #clients 
 */

.clients {
  margin-bottom: 15px;
}

.clients-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -15px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}

.clients-item {
  min-width: 50%;
  scroll-snap-align: start;
}

.clients-item img {
  width: 100%;
  filter: grayscale(1);
  transition: var(--transition-1);
}

.clients-item img:hover {
  filter: grayscale(0);
}

/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.article-title {
  margin-bottom: 15px;
}

/**
 * education and experience 
 */

/* .timeline { margin-bottom: 30px; } */

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}

.timeline-item {
  position: relative;
}

.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}

.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
}

.timeline-list span {
  color:#1d9bf0;
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: #1d9bf0;
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}

.timeline-text {
  font-weight: var(--fw-300);
  line-height: 1.6;
  color: white;
}

/**
 * skills 
 */

.skills-title {
  margin-bottom: 20px;
}

.skills-list {
  padding: 20px;
}

.skills-item:not(:last-child) {
  margin-bottom: 15px;
}

.skill .title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.skill .title-wrapper data {
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}

.skill-progress-bg {
  background: var(--jet);
  width: 100%;
  height: 8px;
  border-radius: 10px;
}

.skill-progress-fill {
  background: var(--text-gradient-yellow);
  height: 100%;
  border-radius: inherit;
}

/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.filter-list {
  display: none;
}

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.filter-select.active .select-icon {
  transform: rotate(0.5turn);
}

.select-list {
  background: var(--eerie-black-2);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item button {
  background: var(--eerie-black-2);
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.select-item button:hover {
  --eerie-black-2: hsl(240, 2%, 20%);
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project-item {
  display: none;
}

.project-item.active {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.project-item > a {
  width: 100%;
}

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project-item-icon-box {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
}

.project-item-icon-box ion-icon {
  --ionicon-stroke-width: 50px;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project-item > a:hover img {
  transform: scale(1.1);
}

.project-title,
.project-category {
  margin-left: 10px;
}

.project-title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
}

.project-category {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-posts {
  margin-bottom: 10px;
}

.blog-posts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.blog-post-item > a {
  position: relative;
  background: var(--border-gradient-onyx);
  height: 100%;
  box-shadow: var(--shadow-4);
  border-radius: 16px;
  z-index: 1;
}

li.blog-post-item {
  border-radius: 10px;
  background: black;
}

.blog-banner-box {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  display: none;
}

.blog-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}
button, a {
  cursor: pointer;
  color: black;
}


.blog-post-item > a:hover .blog-banner-box img {
  transform: scale(1.1);
}

.blog-content {
  padding: 15px;
  background: linear-gradient(267deg,
  var(--background_dark),
  var(--background));
  border-radius: 10px;
}

.blog-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.blog-meta :is(.blog-category, time) {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.blog-meta .dot {
  background: var(--light-gray-70);
  width: 4px;
  height: 4px;
  border-radius: 4px;
}

.blog-item-title {
  margin-bottom: 10px;
  line-height: 1.3;
  transition: var(--transition-1);
}

.blog-post-item > a:hover .blog-item-title {
  color: var(--orange-yellow-crayola);
}

.blog-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--jet);
  overflow: hidden;
}

.mapbox figure {
  height: 100%;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form {
  margin-bottom: 10px;
}

.form-title {
  margin-bottom: 20px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder {
  font-weight: var(--fw-500);
}

.form-input:focus {
  border-color: var(--orange-yellow-crayola);
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
  width: 100%;
}

textarea.form-input::-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border-color: var(--bittersweet-shimmer);
}

.form-btn {
  position: relative;
  width: 100%;
  background: var(--border-gradient-onyx);
  color: var(--orange-yellow-crayola);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon {
  font-size: 16px;
}

.form-btn:hover {
  background: var(--bg-gradient-yellow-1);
}

.form-btn:hover::before {
  background: var(--bg-gradient-yellow-2);
}

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover {
  background: var(--border-gradient-onyx);
}

.form-btn:disabled:hover::before {
  background: var(--bg-gradient-jet);
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 450px screen
 */

@media (min-width: 450px) {
  /**
   * client
   */

  .clients-item {
    min-width: calc(33.33% - 10px);
  }

  /**
   * #PORTFOLIO, BLOG 
   */

  .project-img,
  .blog-banner-box {
    height: auto;
  }
}

/**
 * responsive larger than 580px screen
 */

/**
 * responsive larger than 768px screen
 */

/**
 * responsive larger than 1024px screen
 */

/**
 * responsive larger than 1250px screen
 */

audio.audioPlayer {
  width: -webkit-fill-available;
  margin-top: 1vh;
}

::-webkit-scrollbar {
  width: 0 !important;
}

fieldset {
  border: navajowhite;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

legend {
  color: white;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 100;
}

.service-icon-box {
  display: flex;
}

input[type="checkbox"].chip {
  --color: #6c6;
  border: 1px solid #4c4c4c;
  border-radius: 100em;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  appearance: none !important;
  width: max-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type="checkbox"].chip::after {
  content: attr(value);
  position: relative;
  padding: 10px 15px 10px 30px;
  display: block;
  color: white
}

input[type="checkbox"].chip::before {
  content: "";
  width: 12px;
  aspect-ratio: 1;
  background: linear-gradient(currentcolor 0 0),
    linear-gradient(currentcolor 0 0);
  background-position: -200% -2em, 2em -200%, 50% 50%;
  background-size: 1em 0.125em, 0.125em 1em;
  background-repeat: no-repeat;
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 1.125em;
  translate: -50% -50%;
  rotate: 45deg;
  transition: width 0.25s, background-position 0.5s;
}

input[type="checkbox"].chip.grow::before,
input[type="checkbox"].chip.bounce::before {
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-size: 0 0, 0 0;
  transition: width 0.25s, background-size 0.5s;
}

input[type="checkbox"].chip:checked::before {
  width: 200%;
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-size: 1em 0.125em, 0.125em 1em;
}

input[type="checkbox"].chip:disabled {
  --color: #eee !important;
  color: #6c6c6c;
  border-color: #4c4c4c;
}

::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

.r-1xvli5t {
  height: 1em;
}

.r-yyyyoo {
  fill: currentcolor;
}

.r-4qtqp9 {
  margin-left: 1vh;
  margin-top: 4px;
}

.hidden {
  height: 5vh;
}

.r-1cvl2hr {
  color: #1d9bf0;

  /* color: var(--orange-yellow-crayola); */
}

.captions {
  margin: 10px;
  font-weight: 700;
  text-align: right;
}

/* loding */

#__disk_top {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: black;
  padding: 0;
  overflow: hidden;
  position: fixed;
  z-index: 999999999999999999999;
  top: 0;
}

.__disk_top {
  margin: auto;
  display: flex !important;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main {
    display: block !important;
  }

  aside#__disk_top {
    display: none;
  }
}

/*  */

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vh;
  color: white;
}

/* feeds*/

.middle .feeds .feed {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

.interaction-buttons {
  display: flex;
  gap: 10px;
}

/* svg.bi.bi-bookmark {
  fill: var(--orange-yellow-crayola);
} */

#container {
  width: 300px;
}

#container.fin .path-1,
#container.fin .path-2,
#container.fin .path-3 {
  stroke-dashoffset: 0;
}

#container.fin .path-4 {
  stroke-width: 18px;
}

.path {
  fill: none;
  stroke: white;
  stroke-width: 18px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;
  transition: 5s linear;
}

.path-2 {
  stroke-dasharray: 260 1000;
  stroke-dashoffset: 261;
  transition: 1.2s linear 5.2s;
}

.path-3 {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: 101;
  transition: 1s linear 6.5s;
}

.path-4 {
  stroke-width: 0;
  transition: 0.1s linear 7.5s;
}

* {
  margin: 0;
  padding: 0;
}
.div {
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.div span {
  font-size: x-large;
  font-weight: 900;
  z-index: -1;
  color: white;
  width: 5px;
  height: 30vh;
  background: #eee;
  margin: 0 20px;
}

.bot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a4a4a4;
  padding: 3px;
}




.start{
  width: 100%;
  height: 100vh;
  background: black;
  display: grid;
  align-items: center;
  justify-content: center;
}
.fancy {
background-color: transparent;
border: 2px solid #000;
border-radius: 0;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
float: right;
font-weight: 700;
letter-spacing: 0.05em;
margin: 0;
outline: none;
overflow: visible;
padding: 1.25em 2em;
position: relative;
text-align: center;
text-decoration: none;
text-transform: none;
transition: all 0.3s ease-in-out;
user-select: none;
font-size: 13px;
}

.fancy::before {
content: " ";
width: 1.5625rem;
height: 2px;
background: black;
top: 50%;
left: 1.5em;
position: absolute;
transform: translateY(-50%);
transform-origin: center;
transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
font-size: 1.125em;
line-height: 1.33333em;
padding-left: 2em;
display: block;
text-align: left;
transition: all 0.3s ease-in-out;
text-transform: uppercase;
text-decoration: none;
color: white;
}

.fancy .top-key {
height: 2px;
width: 1.5625rem;
top: -2px;
left: 0.625rem;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
height: 2px;
width: 1.5625rem;
right: 1.875rem;
bottom: -2px;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
height: 2px;
width: 0.625rem;
right: 0.625rem;
bottom: -2px;
position: absolute;
background: #e8e8e8;
transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
color: white;
background: black;
}

.fancy:hover::before {
width: 0.9375rem;
background: white;
}

.fancy:hover .text {
color: white;
padding-left: 1.5em;
}

.fancy:hover .top-key {
left: -2px;
width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
right: 0;
width: 0;
}
.bott {
display: flex;
align-items: center;
justify-content: center;
margin-top: 8vh;
}